

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">RolePlay Writer 🗒</h1>
    <p class="lead">The tool I wished I had in 2016.</p>
    <hr class="my-4">
    <%= link_to 'Create New Center', new_center_path, class: 'btn btn-primary' %>
  </div>
</div>
